.ac_background
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    z-index: 99;
}

.ac_popup_fill
{
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 6px 3px #ccc;
    border-radius: 8px;
    padding: 15px;
}

.close_ac_fill
{
    width: 100%;
    display: flex;
}

.close_ac_btn
{
    color: #ff0000;
    font-size: 24px;
    cursor: pointer;
}

.close_ac_btn:hover
{
    color: #ff000080;
    text-decoration: underline;
}

.ac_title_fill
{
    width: 100%;
    padding: 10px 0;
    display: flex;
    text-align: right;
}

#add_class_form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

#add_class_form :is(input, select)
{
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
}

#ac_update_class_data_btn
{
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
}

#class_picture
{
    border: 1px solid #000;
}