.edit_quiz_popup_fill
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit_quiz_popup
{
    background-color: #fff;
    box-shadow: 0 0 6px 3px #ccc;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    padding-bottom: 30px;
}

.close_eqp_fill
{
    display: flex;
    width: 100%;
}

.edit_quiz_popup h2
{
    margin-bottom: 10px;
}