.ec_background
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    z-index: 99;
}

.ec_popup_fill
{
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 6px 3px #ccc;
    border-radius: 8px;
    padding: 15px;
    user-select: none;
}

.close_ec_fill
{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.close_ec_btn
{
    color: #ff0000;
    font-size: 24px;
    cursor: pointer;
}

.close_ec_btn:hover
{
    color: #ff000080;
    text-decoration: underline;
}

.ec_title_fill
{
    width: 100%;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
}

.ec_title_fill h2
{
    font-size: 32px;
}

#edit_class_form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

#edit_class_form :is(input, select)
{
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
}

#update_class_data_btn
{
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
}

.ec_ec
{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ec_edit_fill
{
    display: flex;
    flex-direction: column;
    border: 0;
    box-shadow: inset 0 0 4px 1px #aaa;
    padding: 15px;
}

.ec_add_std_to_cls
{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 0;
    box-shadow: inset 0 0 4px 1px #aaa;
}

.s_c_title_fill
{
    padding-bottom: 10px;
}

.s_c_title_fill h2
{
    font-size: 32px;
}

.s_c_std_fill
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    flex-grow: 1;
    max-height: 400px;
}

.std_fill
{
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 3px 1px #aaa;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    cursor: pointer;
}

.std_fill span
{
    font-size: 18px;
}

.s_c_std_update_btn_fill
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#s_c_update_btn
{
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.edit_class_teachers
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 0;
    box-shadow: inset 0 0 4px 1px #aaa;
}

.edt_cls_tch_title_fill
{
    padding-bottom: 10px;
}

.edt_cls_tch_title_fill h2
{
    font-size: 32px;
}

#class_picture
{
    border: 1px solid #000;
}

#cls_tch_lst_update_btn
{
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.cls_tch_lst_fill
{
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    flex-grow: 1;
    max-height: 400px;
    width: 100%;
}