.qa_back
{
    width: 100%;
    height: 100vh;
    background-color: #ffffff20;
    backdrop-filter: blur(10px);
    position: fixed;
    top: -10000px;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.qa_fill
{
    background-color: #ffffff;
    border: 0;
    box-sizing: border-box;
    box-shadow: 0 0 12px 8px #aaaaaa;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.cls_qa_btn_fill
{
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.close_quiz_app_btn
{
    color: #ff0000;
    font-size: 24px;
    cursor: pointer;
    margin: 5px 10px;
}

.close_quiz_app_btn:hover
{
    color: #ff000080;
    text-decoration: underline;
}

.qa_fl1
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

