.sum_fill
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    gap: 10px;
}

#close_exp_card
{
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}

.sum_vid_fill
{
    max-width: 90%;
    max-height: 35%;
    padding: 20px 0;
}

.sum_vid_fill iframe
{
    max-width: 100%;
    max-height: 100%;
}

.sum_summary_fill
{
    max-width: 100%;
    max-height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    font-size: 1.5em;
}

.sum_title_fill
{
    width: 100%;
    padding: 15px 0;
    font-size: 1.5em;
}

.close_sum_btn_fill
{
    width: 100%;
    padding: 15px 0;
}