.add_answear_content
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    max-height: 85%;
}

.add_que_form_2
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
}

.que_mang_split_top
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.que_mang_split_bottom
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.add_answear_list
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding-top: 30px;
    text-align: right;
}

label
{
    font-weight: bold;
}

.add_answear_form_fill
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;
    box-sizing: border-box;
}

#add_ans_form
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#add_ans_form input[type='text']
{
    padding: 5px 10px;
}

#add_ans_form input[type='submit']
{
    padding: 5px 10px;
    cursor: pointer;
}

.new_answear_select_quiz_fill select, 
.new_answear_select_sub_fill select, 
.new_answear_select_bin_fill select
{
    padding: 5px 10px;
    cursor: pointer;
}

.is_ans_corr_fill
{
    padding: 5px 10px;
}

.is_ans_corr_fill input
{
    transform: scale(2);
    margin: 0 10px;
    cursor: pointer;
}

.select_question_fill select
{
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    width: 250px;
}

.add_ans_split_top
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add_ans_split_bottom
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 20px;
}

.ans1
{
    padding: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 3px #00000050;
    margin: 3px;
}

.ans2
{
    padding: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 3px #00000050;
    margin: 2px;
}

.select_question_fill
{
    border-bottom: .5px solid #000000;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.ans_inco_split
{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.ans_inco_split_right, .ans_inco_split_left
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#mn_edit_que_button
{
    color: #0000ff;
    text-decoration: none;
    cursor: pointer;
}

#mn_edit_que_button:hover
{
    color: #0000ff80;
    text-decoration: underline;
}

.qna_mn_split
{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.qna_mn_split_right
{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-top: 20px;
    flex-grow: 1;
}

.qna_mn_split_left
{
    display: flex;
    flex-direction: column;
    width: auto;
}

#ques_table
{
    border: .5px solid #000;
    margin: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-collapse: collapse;
}

.qet_row
{
    color: #000;
    font-size: 24px;
}

.qet_first_row
{
    font-weight: bold;
    font-size: 28px;
}

.qet_col
{
    padding: 15px 15px;
    border: 1px solid #000;
}

.qet_fr_col
{
    padding: 10px 15px;
}

.qet_action_span
{
    display: inline;
}

.qet_edit_btn, .qet_edit_save_btn
{
    color: #0000ff;
    cursor: pointer;
    text-decoration: none;
}

.qet_edit_btn:hover, .qet_edit_save_btn:hover
{
    color: #0000ff80;
    text-decoration: underline;
}

.qet_delete_btn
{
    color: #ff0000;
    cursor: pointer;
    text-decoration: none;
}

.qet_delete_btn:hover
{
    color: #ff000080;
    text-decoration: underline;
}

.qet_add_ans_btn
{
    color: #007a00;
    cursor: pointer;
    text-decoration: none;
}

.qet_add_ans_btn:hover
{
    color: #007a0080;
    text-decoration: underline;
}

.que_edt_btn_fill
{
    display: inline;
}

.qet_edit_fields
{
    padding: 5px 10px;
    font-size: 18px;
}

.qet_col_video
{
    max-width: 250px;
    max-height: 140px;
}

.qet_col_video iframe
{
    max-width: 215px;
    max-height: 120px;
}

.qet_col_img
{
    max-width: 250px;
    max-height: 140px;
    text-wrap: wrap;
}

.qet_col_img img
{
    max-width: 215px;
    max-height: 120px;
}

.que_edit_vid_field, .que_edit_img_field
{
    font-size: 18px;
    padding: 5px 10px;
    max-width: 99%;
}

#scrl_to_top_btn_fill
{
    color: #000;
    position: absolute;
    top: 85%;
    left: 8%;
    z-index: 100009;
}

#scrl_to_top_btn_fill svg
{
    font-size: 50px;
}

#scrl_to_top_btn
{
    color: #0000ff;
    cursor: pointer;
    text-decoration: none;
    font-size: 50px;
}

#scrl_to_top_btn i
{
    font-size: 45px;
}

#scrl_to_top_btn:hover
{
    color: #0000ff80;
    text-decoration: underline;
}

.sec_spl
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.pagination_fill
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    direction: ltr;
}

.page_nums_fill
{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}

.pg
{
    font-weight: 300;
    cursor: pointer;
    color: #000000;
    font-size: 20px;
}

.pg:hover
{
    font-weight: 300;
    color: #000000CC;
}

.pg.active
{
    font-weight: 700;
}

.previous_page, .next_page
{
    font-weight: 700;
    cursor: pointer;
    color: #000000;
    font-size: 18px;
}

:is(.previous_page, .next_page):hover
{
    font-weight: 300;color: #000000CC;
}

.previous_page_dis
{
    font-weight: 700;
    cursor: default;
    color: #999;
    font-size: 18px;
}

.que_search_fill
{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 15px;
    padding-right: 15px;
}

#que_search_form
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.que_search_inputs
{
    font-size: 18px;
    padding: 5px 10px;
}

.que_search_btns
{
    cursor: pointer;
}

.que_tbl_spacer
{
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.que_search_title
{
    width: 100%;
    text-align: right;
}

.no_res_q
{
    color: #ff0000;
}

.add_que_tb
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 15px;
}

.que_rb
{
    color: #ff000099;
    background-color: #fff;
    transition: all .2s;
    border: .5px solid #ff000099;
    padding: 5px 10px;
    border-radius: 500px;
    cursor: pointer;
}

.que_rb:hover
{
    background-color: #ff000099;
    color: #fff;
}

.que_rb_tbl
{
    border: 1px solid #000;
    border-collapse: collapse;
}

.que_rb_tfr
{
    border: 1px solid #000;
}

.que_rb_col
{
    border: 1px solid #000;
    padding: 15px;
    font-size: 24px;
}

.que_rb_fr_col
{
    font-size: 28px;
    font-weight: bold;
}

.que_rb_recycle
{
    color: #0000ff;
    cursor: pointer;
    text-decoration: none;
}

.que_rb_recycle:hover
{
    color: #0000ff80;
    text-decoration: underline;
}